<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS</title>
</head>

<body>
    	<h1><span style="color:#FF0000"><strong>PAGINA INDEX - PRINCIPAL</strong></span></h1>

 	<h1><span style="color:#F0FFFF">
	<span style="background-color:#000000">Pagina principal do site, tambem chamado de Raiz....</span></span></h1>

 	<h1><span style="color:#F0FFFF">
	<span style="background-color:#000000">Node.JS com framework Express....</span></span></h1>

</body>
</html>